
@{
    ViewData["Title"] = "Job Posting";
 
}
<script src="/js/site.js"></script>

<h1>Job Posting</h1>

<section>

    <header class="jobHeader">
        <h2>Unior Web Developer</h2>
        <input style="" type="button"  id="saveForOffline" value="💾" aria-label="Save for Offline" />
        <input type="button" hidden id="copyToClipboard" value="📋" aria-label="copy to clipboard" />        

    </header>
</section>
<section>
    
    <h3>Job Description</h3>
    <p>Job quilaficatio : Bachelor of Computer application</p>
</section>
<div class-="share">
    <button type="button" class="share">Share this Job</button>
</div>

<dialog id=" clipboardPerms">
    <h2>We would like to write to your clipboard</h2>
    <p>This is us asking to write to the clipboard</p>
</dialog>


